# Data Wrangling with Pandas

This lesson introduces the topics and techniques for merging and reshaping your DataFrames. 

While mostly complete, parts of this lesson are ![under construction](http://textfiles.com/underconstruction/EnEnchantedForestMountain6559Construction_3.gif)

## Topics
 
 - concatenating datasets vertically - community center attendance (split by year)
 - Pivot from long to wide data - community center 
 - Merging Data
     - One to one - 2015 and 2010 neighborhood populations (note, there is a neighborhood missing in the 2010 data)
         - inner, left, right, outer - play with these options to see what neighborhood is missing
     - One to many - counts of 311 requests per neighborhood then join with a dataset with ACS 2015 population by neighborhood. calculate 311 requests per population rankings
     
     
## Learning Objectives

- ![under construction gif](http://textfiles.com/underconstruction/mamagnolia_acresunderconstruction.gif)

     
     
## Datasets used in this lesson

- [Daily Community Center Attendance](https://data.wprdc.org/dataset/daily-community-center-attendance) - This datasets contains information about the number of people who visited a community center in the city of Pittsburgh per day. Each row represents a day, community center, and count. Note, not all community centers report their attendance each day. The dataset spans a temporal period from 2011 to 2023 and has around TKTKTK entries.
    - This dataset has been broken into individual CSV files. Each file represents a year. The data files are located in the `community center attendance by year` directory. Each file has a name with a pattern of `community-center-attendance-YYYY.csv`.
- [311 Service Requests](https://data.wprdc.org/dataset/311-data) - This dataset contains information about the 311 information and service requests made to the city of Pittsburgh. Each row represents an individual service request with a bunch of meta-information about the request include source, time, neighborhood origin, and request type. The dataset spans a temporal period from TKTKTK to TKTKTK and has around 680 thousand entries.
    - The dataset is stored as a CSV file with the name `311-data.csv`
- [American Community Survey 2015 Total Population](https://data.wprdc.org/dataset/pittsburgh-american-community-survey-2015-miscellaneous-data/resource/82f29015-6905-4b1c-8300-afe9bb2231b3) - This dataset contains information about the total population for each neighborhood in the city of Pittsburgh based upon data from the 2015 American Community Survey. Each row represents the total population estimates for a neighborhood. The dataset spans the 2015 community survey and has 91 entries. 
    - The dataset is stored as a CSV file with the name `ACS-2015-total-population.csv`
- [Pittsburgh Neighborhood Data](https://ucsur.pitt.edu/files/census/UCSUR_SF1_NeighborhoodProfiles_July2011.pdf) - This dataset was extracted from a 2010 Pittsburgh Neighborhood Profiles PDF document. This dataset includes rankings of each neighborhood across a variety of metrics including population, age, race, and housing. The dataset represents information from 2010. Each row is a neighborhood and there are 90 entries.
    - The datset is stored as a CSV file with the name `pgh-neighborhood-data-2010.csv`
- [311 Issue and Category Codebook](https://data.wprdc.org/dataset/311-data/resource/7794b313-33be-4a8b-bf80-41751a59b84a) - This dataset contains information describing the 311 Request Types and mapping them to higher level categories. Each row represents a request type and includes categorical columns with information about the category, the definition, and the responsible department. The dataset contains 231 entries.
    - The dataset is stored as an Excel file with the name `311-codebook-request-types.xlsx`

In [ ]:
# Load Pandas
import pandas as pd

## Concatenating Datasets

The community center attendance datasets are broken up by year, but they all share the same shape. Each dataset has three columns that represent the same information. This means you can easily 

Pandas provides a top level function [concat](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) that can merge dataframes together.

#### Task - Review the Concat documentation

1. Look at the documentation for [concat](https://pandas.pydata.org/docs/reference/api/pandas.concat.html). What Python or pandas data structure should you use to store the dataframes we need to concatenate?

# your answer here

#### Answer - Review the Concat Documentation
Click on the ellipses (...) below to see the answers.

Python list or Pandas series

#### Task - Load three Community Center Data Files

1. Load the daily community center attendance for 2023, 2022, and 2021 into a pandas dataframe.
2. Create the Python data structure you identified in the previoud task to contain each of the three dataframes. Set each item to be one loaded dataframes.

In [ ]:
# your code here

#### Answer - Load three Community Center Data Files

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
cca_2023 = pd.read_csv("datasets/community-attendance/community-center-attendance-2023.csv")
cca_2022 = pd.read_csv("datasets/community-attendance/community-center-attendance-2022.csv")
cca_2021 = pd.read_csv("datasets/community-attendance/community-center-attendance-2021.csv")

# answer 2
cca_list = [cca_2023, cca_2022, cca_2021]

#### Task - Join community center datasets into one

1. Use the Pandas Concat function to merge the three datasets into a single dataframe

In [ ]:
# your code here

#### Answer - Join Community Center datasets into one

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1

cca = pd.concat(cca_list)
cca

## Loading all of the Community Center Attendance datasets

The daily community center attendance datasets are broken up by year. Each year is stored as a separate file. We have included 13 years worth of data, this means there are 13 separate dataframes you need to load if you want to merge them together. While you could manually load each dataframe into a separate variable, you can also automate this process with Python

- Generate a list of community center attendance data file paths
- Loop over the list of file paths
    - load the csv file into a dataframe
    - add that dataframe to a list
- Concatenate the list of dataframes into a single dataframe 


#### Task - Create a list of Community Center Filenames

1. Create a Python list of 13 strings, each string should represent the path to one of the community center attendance data files. So for example, the string representing the 2023 data file would be: `"community-attendance/community-center-attendance-2023.csv"`

In [ ]:
# your code here

#### Answer - Create Community Center Filenames

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
cca_filepaths = [f"datasets/community-attendance/community-center-attendance-{year}.csv" for year in range(2011,2024)]
cca_filepaths

#### Task - Loading each datafile

1. Use a Python loop or list comprehension to loop over the list of filepaths and load each dataframe as an item in a Python list

In [ ]:
# your code here

#### Answer - Loading Each Datafiles

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
cca_dataframes = []

for filepath in cca_filepaths:
    cca_dataframes.append(pd.read_csv(filepath))

cca_dataframes[0:2]

#### Task - Concatenate all the dataframes

1. Use the Pandas concat function to merge all of the community center attendance data into a single dataframe

In [ ]:
# your code here

#### Answer - Concatenate all the dataframes

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1

cca_data = pd.concat(cca_dataframes)
cca_data

## Pivoting Dataframes

The Community Center Attendance is structured as [long, narrow or stacked](https://en.wikipedia.org/wiki/Wide_and_narrow_data)

|date      |center_name                |attendance_count|
|----------|---------------------------|----------------|
|2023-03-12|Warrington Community Center|3               |
|2023-03-11|Warrington Community Center|1               |
|2023-03-11|Ormsby Community Center    |5               |
|2023-03-11|Paulson Community Center   |12              |
|2023-03-11|Phillips Community Center  |10              |
|2023-03-11|West Penn Community Center |104             |
|2023-03-10|Warrington Community Center|32              |
|2023-03-10|Ammon Community Center     |8               |
|2023-03-10|Arlington Community Center |13              |
|2023-03-10|Brookline Community Center |40              |

A different way to represent these data in a "wider" form would be the following: 

|date      |Warrington Community Center|Ormsby Community Center|Phillips Community Center|West Penn Community Center|Ammon Community Center|Arlington Community Center|Brookline Community Center|
|----------|---------------------------|-----------------------|-------------------------|--------------------------|----------------------|--------------------------|--------------------------|
|2023-03-08|69.0                       |35.0                   |54.0                     |48.0                      |5.0                   |84.0                      |36.0                      |
|2023-03-09|63.0                       |11.0                   |74.0                     |135.0                     |32.0                  |15.0                      |58.0                      |
|2023-03-10|32.0                       |11.0                   |39.0                     |73.0                      |8.0                   |13.0                      |40.0                      |
|2023-03-11|1.0                        |5.0                    |10.0                     |104.0                     |                      |                          |                          |
|2023-03-12|3.0                        |                       |                         |                          |                      |                          |                          |

#### Task - Pivoting narrow data into wide data 

Before 


1. What does each row represent? 
2. What does each column represent?
3. What does each value in the rows/columns represent?

# you answer here

#### Answer - Pivoting narrow data into wide data

Click on the ellipses (...) below to see the answers.


1. a day
2. a community center
3. the attendance at a community center on a particular day

#### Task - Pivoting with Pandas

The Pandas pivot function



1. Use the Pandas Dataframe [pivot](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html) function to transform the narrowly structured data into a wide format. Use the answers from the previous task to determine the three parameters for the pivot function.

In [ ]:
# your code here

#### Answer - Pivoting with Pandas

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
cca_data_wide = cca_data.pivot(index="date", # these values will be rows
                          columns="center_name", # these values will be columns
                          values="attendance_count" # these values will populate the table
                         )
cca_data_wide

#### Task - Why all the NaNs?

1. After pivoting the data you will notice a lot of `Nan` values that you didn't see before. Why do you think there are all these missing values? Why don't we see all these missing values in the long format?

# your answer here

#### Answer - Why all the NaNs

Click on the ellipses (...) below to see the answers.

Many of the community centers do not report their attendance every day. The long format hides this.

#### Task - Dropping NaNs

1. Use the `dropna()` function to remove all rows from the `cca_data_wide` Dataframe.
2. What do the results mean?

In [ ]:
# your code here

#### Answer - Dropping NaNs

Click on the ellipses (...) below to see the answers.

In [ ]:
# drop all rows with a missing value
cca_data_wide.dropna()

The fact we see zero rows means there has never been a day when every community center has reported their attendance.

## Merging and Joining Datasets

In the previous sections of this lesson the data had shared column names, same order, or similar shapes. What if the data you want to connect together have shared values but not shared structure?

#### Task - Load Population datasets

1. Load the `ACS-2015-total-population.csv` and `pgh-neighborhood-data-2010.csv` data files into pandas dataframes and display their contents. Note, you will need to do this in two separate code cells.

In [ ]:
# your answer here

#### Answer - Load Population Datasets

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
acs_2015_total_population = pd.read_csv("ACS-2015-total-population.csv")
acs_2015_total_population

In [ ]:
# answer 2 
pgh_neighborhood_data_2010 = pd.read_csv("pgh-neighborhood-data-2010.csv")
pgh_neighborhood_data_2010

#### Task - Shared Information

Look at the contents of both of the datasets you loaded in the previous task.

1. Is there a column that has the same values for both datasets shared across both? 
1. What does each row represent? Is this the same for both datasets?
1. Does each dataset have the same number of rows? What does it mean if they don't have the same number of rows?
1. Why can't we just copy the columns from one of the datasets into the other?

# your answer here

#### Answer - Shared Information

Click on the ellipses (...) below to see the answers.

1. Yes the neighborhood column.
2. Each row represents the population of a neighborhood.
3. No, one dataset has 90 rows the other has 91. It means there is a neighborhood missing in one of the datasets.
2. Several reasons. First, the data are not in the same order. Second, they don't have the same number of rows.

### Pandas Merge

When you want to join a datasets together based upon shared column values, then you need to use Pandas [Merge](https://pandas.pydata.org/docs/reference/api/pandas.merge.html) function to perform a "database style join." A database style join will connect two datasets together based upon the shared values of a column or columns. This style of merging is smarter than simply concatenating datasets together because the merge or join operations will join rows together based on shared column value rather than order or structure. So in our case, we can use the *Neighborhood* column in both of the datasets (although as we will see, it is not seamless).

#### Task - What got merged?

Run the code cell below and look at the output. 

1. How many rows are there? Is this what you expected?
2. Do you think there are rows/data missing?
3. Why do you think there is that particular number of rows in the results?

In [ ]:
# Merge the 2015 and 2010 datasets

pd.merge(acs_2015_total_population, pgh_neighborhood_data_2010)

# your answer here

#### Answer - What Got Merged?

Click on the ellipses (...) below to see the answers.

1. there are 88 rows, but there should be 90 since there are 90 neighborhoods inPittsburgh.
2. yes.
3. there are values in the neighborhood column that are not present in the other dataset. dirty data.

### How to merge

When performing this kind of merge operation it is often the case that there are data values in one of the dataframes that don't exist in the other dataframe. You need to tell the Pandas merge function how you 

- inner: use intersection of values from both dataframes, similar to a SQL inner join; preserve the order of the left keys.
- Left: use only keys from left dataframe, preserve key order.
- Right: use only keys from right dataframe, preserve key order.
- Outer: use union of keys from both dataframes, sort keys lexicographically.

![Inner join venn diagram](https://www.w3schools.com/sql/img_innerjoin.gif)
![Left Join](https://www.w3schools.com/sql/img_leftjoin.gif)
![Right join venn diagram](https://www.w3schools.com/sql/img_rightjoin.gif)
![Outer Join venn diamgram](https://www.w3schools.com/sql/img_fulljoin.gif)

*Image credit: [W3C Schools](https://www.w3schools.com/sql/sql_join.asp)

#### Task - What kind of join produced the results above

1. Considering the results produced by the merge operation above, what kind of join do you think was performed?

# your answer here

#### Answer - What kind of join produced the result above

Click on the ellipses (...) below to see the answers.

1. Inner join. Only 88 neighborhood values are shared across the two datasets.

#### Task - Review the Pandas Merge documentation

1. Review the Pandas [documentation for the merge function](https://pandas.pydata.org/docs/reference/api/pandas.merge.html). What parameter lets to specify the type of merge operation and what is the format of argument?
2. What is the default?

# your answer here

#### Answer - Review the Pandas Merge Documentation

Click on the ellipses (...) below to see the answers.

1. The `how` parameter. Takes a string 
2. Inner join.

#### Task - Left Join

1. Copy the merge code from above and modify the arguments to perform a *left* join.
2. Look at the output and consider the number of rows. Do you think there is data is missing or added?

In [ ]:
# your code here

#### Answer - Left Join

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1

pd.merge(acs_2015_total_population, pgh_neighborhood_data_2010, how="left")

#### Task - Right Join

1. Copy the merge code above and modify the arguments to perform a *right* join.
2. Look at the output and consider the number of rows. Do you think there is data is missing or added?

In [ ]:
# your answer here

#### Answer - Right Join

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
pd.merge(acs_2015_total_population, pgh_neighborhood_data_2010, how="right")

#### Task - Outer Join

1. Copy and modify the merge code to perform an *outer* join.
2. Look at the output and consider the number of rows. Do you think there is data is missing or added?

In [ ]:
# your code here

#### Answer - Outer Join

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1 
pd.merge(acs_2015_total_population, pgh_neighborhood_data_2010, how="outer")

#### Task - Look at the results of an Outer Join

1. How many rows are in the results of the outer join operation?
2. How is it possible to have *more* rows than existed in either of the two merged datasets
3. Look at the last two rows (91 and 91), what value do you see for the "Id", "Estimate; Total", and "Margin of Error; Total" columns? 
4. Why do you think those rows have that value for those columns?

# your answer here

#### Answer - Look at the results of an Outer Join

Click on the ellipses (...) below to see the answers.

1. 93
2. There were rows that could not be merged, so the outer join operation just added them
3. NaN
4. When the outer join adds the rows it fills in missing values with NaN because it doesn't know what to put there.

### Finding Missing Values

The output of the various merge operations seem to indicate that the two datasets, which should theoretically contain the same rows (the number of neighborhoods in Pittsburgh hasn't changed). So what gives? Clearly there are some dirty data values that are causing errors. 


What we can see in the results of the outer join are some rows that didn't merge data from both datasets. To see what rows are not shared across both datasets we need to filter for just the rows with missing values. To do this with Pandas we need to do three things:
1. Create a new dataframe from the results of the outer join.
2. Create a mask that filters out all of the rows that contain


The code below performs an outer merge of the two datasets and then filters for rows that have missing values.

```python
merged_pgh_data[missing_mask]
```

#### Task - Create a new dataframe

1. Perform an outer merge of the two datasets and save the results into a new variable called `merged_pgh_data`
2. Display the new dataframe

In [ ]:
# your code here

#### Answer - Create a new dataframe

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer
merged_pgh_data = pd.merge(acs_2015_total_population, pgh_neighborhood_data_2010, how="outer")
merged_pgh_data

#### Task - Identify missing values in the dataframe

1. Use the [isna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html#pandas.DataFrame.isna) function on your dataframe to output boolean values indicating if a value is missing. Don't save the output to va variable yet, just look at the output.
2. Do you see `True` values where the results where Nan in the previous task?

In [ ]:
# your code here

#### Answer - Identify missing values in the dataframe

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 
missing_mask = merged_pgh_data.isna()
missing_mask

#### Task - Make a 1-dimensional Mask

1. Copy your answer from the previous task and add `.any(axis=1)` after the `isna()` function. 
2. Save this to a variable called `missing_mask` and display it. What do the results mean?
2. Look at the Pandas documentation for [any()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.any.html). What do you think the `any()` function is doing here and why does it have the `axis=1` parameter?

In [ ]:
# your code here

#### Answer - Make a 1-dimensional Mask

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 
missing_mask = merged_pgh_data.isna().any(axis=1)
missing_mask
# answer 3 - Any is looking at the the row (as specified by the axis=1 parameter) and returning True if there are any True values

#### Task - Apply the mask

1. Apply the mask you saved into the variable `missing_mask` to the dataframe `merged_data_pgh`

In [ ]:
# your code here

#### Answer - Apply the mask

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
merged_pgh_data[missing_mask]

#### Task - Analyze the results

The results of the previous task indicate what data values are not shared across the two datasets.

1. What rows are similar but not exact? What is the difference? 
2. What is the *correct* value? Which dataset has the incorrect data neighborhood name?
3. What value appears in one of the datasets but not in the other? In which dataset does it appear? 
4. Is that value actually a neighborhood?

# your answer here

#### Answer - Displaying Specific Rows of a Dataframe

Click on the ellipses (...) below to see the answers.

1. One dataset says "South Side" and the other dataset says "Southside" for the Flats and Slopes.
2. The correct answer is "South Side" with a space. The ACS data is correct.
3. The value "Mount Oliver Borough" appears in the ACS data, but not in the 2010 neighborhood profile data.
4. No.

#### Task - Fix the misspelled neighborhoods

1. Use the Pandas `replace()` function to fix the 2010 neighborhood profiles dataset and replace the incorrect neighborhood names with the correct names

In [ ]:
# your answer here

#### Answer - Fix the misspelled neighborhoods

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
pgh_neighborhood_data_2010_fixed = pgh_neighborhood_data_2010.replace({"Southside Flats":"South Side Flats",
                                    "Southside Slopes":"South Side Slopes"})

#### Task - Find the index of row that is not a neighborhood

1. Find the row identifying the non-neighborhood
2. What is the row index?

In [ ]:
# your code here

#### Answer - Find the index of row that is not a neighborhood

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
acs_2015_total_population[acs_2015_total_population['Neighborhood'] == "Mount Oliver Borough"]

#### Task - Drop the bad row

1. Use the pandas [drop()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html?highlight=drop#pandas.DataFrame.drop) function to remove the row with the index position of the incorrect neighborhood)

In [ ]:
# your code here

#### Answer - Drop the bad row

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer
acs_2015_total_population_fixed = acs_2015_total_population.drop(52)

#### Task - Merge the fixed dataframes

1. Run the Pandas merge operation again on the fixed dataframes.
2. Do you get the correct number of rows?

In [ ]:
# your code here

#### Answer - Merge the Fixed Dataframes

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer
pd.merge(acs_2015_total_population_fixed, pgh_neighborhood_data_2010_fixed, how="outer")

### Merging Many to Many


![under develpment gif](http://textfiles.com/underconstruction/Dimension4933picsA-Hconstruction.gif)


- overall goal is to show how merge the 311 dataset with teh 311 categories. This is a many to one relationship, there are many request types that map to a single category. Why is this useful, becuase this can help aggregate the data into a more comprehensible format

Steps
- introduce the 311 data. These are data collected by the city's [311 response center](https://pittsburghpa.gov/311/) which handles non emergency comments, concerns, or questions. 
- Task - load the 311 data into a dataframe
- There is a lot of data here. We are specifically interested knowing more about the types of requests that are submitted. 
- the distribution of request types. So we count the values in the request type column. 
- task - select the request_type column and then
- The results are busy. Look at teh results

use value counts to aggregate
3. perhaps

#### Task - Load the 311 Service Request Data

1. Use the `read_csv` method to load the data file `311-data.csv` into a Pandas Dataframe called `service_requests`
2. Display the first 20 rows of the service request data.

In [ ]:
# your code here

#### Answer - Load the 311 Service Request Data

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
service_requests = pd.read_csv("311-data.csv")
service_requests.head(20)

#### Task - Categorical data types
1. Look at the results from loading the service request data. There are 17 columns, which ones have categorical data that might be suitable for grouping. What column contains information about the types of question, comments, and concerns?

# your answer here

#### Answer - Categorical data types

Click on the ellipses (...) below to see the answers.

There are lots of columns to choose from. Request_type, Neighborhood, Department...

#### Task - Count the kinds of requests

1. Select column you identified in the previous task to  and then use the `value_counts()` function to aggregate teh data. What does the result tell you?

In [ ]:
# your code here

#### Answer - Count the kinds of requets

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
service_requests["REQUEST_TYPE"].value_counts()

#### Task - How many request types

1. Look at the results from the previous task. How many different kinds of requests are there in the dataset?

# your answer here

#### Answer - How Many request types

Click on the ellipses (...) below to see the answers.

There are 378, which can be determined by the length of the series.

#### Task - Make a bar chart

While we will focus more on visualizaiton in the next lesson, sometimes it is easier to use a visualization to explore your data than as a table.

1. Add the two functions `.plot().bar()` to the end of the code in the previous task. Look at the resulting bar chart, is it any easier to understand the data?

In [ ]:
# your code here

#### Answer - Make a bar chart

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
service_requests["REQUEST_TYPE"].value_counts().plot.bar()

# yes, we can see the distribution, but there are too many request types

### Mapping to Higher Level Categories

The City has provided a companion dataset, the [311 Issue and Category Codebook](https://data.wprdc.org/dataset/311-data/resource/7794b313-33be-4a8b-bf80-41751a59b84a), that provides more information about the various kinds of request types. We can use this dataset to make our aggregation of request types more comprehensible.

#### Task - Load the 311 Issue and Category Dataset

1. Load the data file `311-codebook-request-types.xlsx` dataset into a pandas dataframe called `service_request_codebook`. Pay attention to the file extension!
2. Display the results

In [ ]:
# your code here

#### Answer - Load the 311 Issue and Category Dataset

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
service_request_codebook = pd.read_excel("311-codebook-request-types.xlsx")
service_request_codebook

#### Task - Exploring the Codebook data

Look at the display of the codebook dataset and consider the following questions.

1. What does each row  of the codebook data represent?
1. What columns/data values are shared with the 311 service request dataset?
1. What columns/data values are not shared?
1. What specific column of the codebook has values that are shared with the `REQUEST_TYPE` column of the 311 service requests?

In [ ]:
# your answer here

#### Answer - Exploring the Codebook data

Click on the ellipses (...) below to see the answers.


1. a request type
2. 

2. 
Shared
- Issue
- Department

Not shared
- Category
- Definition
- Public Access Level
- Suggested access level

2. Issue
3. Category

#### Task - How is the relationship between these two datasets many to one?

1. Consider what each row in the service request and codebook datasets represent. How are they different? Why would the relationship between these two datasets be considered a "many to one" or "one to many" relationship?

# your answer here

#### Answer - How is the relationship between these two datasets many to one?

Click on the ellipses (...) below to see the answers.

The 311 service request dataset represents information individual requests made to the city, including an assigned request type category. The codebook represents information about types of request. There are many requests of all the different types in the 311 service request dataset and all of those rows of the request type map to a single row in the codebook.

#### Task - Merge the Service requests with the code book

1. Use the Pandas `merge` function to combine the `service_requests` dataset with the `service_request_codebook`. You will need to use the `left_on` and `right_on` parameters to tell pandas which columns have the shared values you wish to merge on. Refer to the [Pandas `merge` documentation](https://pandas.pydata.org/docs/reference/api/pandas.merge.html?highlight=merge#pandas.merge)
2. Display the results.

In [ ]:
# your code here

#### Answer - Merge the Service requests with the code book

Click on the ellipses (...) below to see the answers.

In [ ]:
#answer 1
merged_service_requests = pd.merge(service_requests, service_request_codebook,
                                   left_on="REQUEST_TYPE", right_on="Issue")
merged_service_requests

#### Task - Exploring new columns

Look at the new dataframe that was created as a result of the merge operation. Find the new columns that were added (scroll all the way to the right of the dataframe display to see them). 

1. What does each row represent?
1. Of the new columns that have been added to the dataset, which would be most useful for aggregating the requests to learn about the kinds of requests?

# your answer here

#### Answer - Exploring new columns

Click on the ellipses (...) below to see the answers.

1. a service request
2. Category

#### Task - Count the categories


1. Select column you identified in the previous task and then use the `value_counts()` function to aggregate the data. What does the result tell you? 
2. What type of request is most frequent in the data?
3. What type of request is least frequent?

In [ ]:
# your code here

#### Answer - Count the categories

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
merged_service_requests["Category"].value_counts()

1. We can see the total number of requests submitted based on their categorical value
2. Road/Street Issues is the most frequent type of request
3. Communications (Cable, Website) is the least frequent

#### Task - Make a bar chart, again

While we will focus more on visualization in the next lesson, sometimes it is easier to use a visualization to explore your data than as a table.

1. Add the two functions `.plot().bar()` to the end of the code in the previous task. Look at the resulting bar chart, is it any easier to understand the data?

In [ ]:
# your code here

#### Answer - Make a bar char, again

Click on the ellipses (...) below to see the answers.

In [ ]:
# answer 1
merged_service_requests["Category"].value_counts().plot.bar()
# yes, we can see the distribution, but there are too many request types